@import "tailwindcss";


@keyframes spin{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg);}
}


.rotate {
  animation: spin 5s linear infinite;
}


.about-scroll::-webkit-scrollbar{
  height: 10px;
}
.about-scroll::-webkit-scrollbar-track{
  background: black
}
.about-scroll::-webkit-scrollbar-thumb{
  background: #ffff00;
}